// Colors
$black: #0F0F0F;
$white: #fff;
$transparent-white: rgba(255, 255, 255, 0.6);
$transparent-black: rgba(0, 0, 0, 0.7);
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
